@{
    ViewData["Title"] = "About page";
}
<h1>@ViewData["Title"]</h1>

<p>Projekt na zajęcia "Programowanie w zastosowaniach" prowadzone przez mgr inż. Tomasza Nowackiego.</p>

<p>Autorzy:</p>
<ul>
    <li>Piotr Tylman</li>
    <li>Paweł Bartkowicz</li>
    <li>Paweł Bordziakowski</li>
</ul>